name: Build and Package Lambda

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Standard Lambda Zip
        run: ./gradlew buildLambdaZip

      - name: Build Native Lambda Zip
        run: ./gradlew buildNativeLambdaZip

      - name: Upload Standard Artifact
        uses: actions/upload-artifact@v4
        with:
          name: standard-lambda
          path: build/dist/deployment.zip

      - name: Upload Native Artifact
        uses: actions/upload-artifact@v4
        with:
          name: native-lambda
          path: build/dist/native-deployment.zip
